node-rest-shop/shimaXML.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="countries" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Country_region" type="xs:string"/>
              <xs:element name="Freedom" type="xs:short"/>
              <xs:element name="total_litres_of_pure_alcohol" type="xs:float"/>
              <xs:element name="N" type="xs:short"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>